.content{
    background-color: rgba(3, 39, 111, 0.7);
    height: 82vh;
}

.content .airdrop{
    width: 80%;
    height: 90%;
    margin: 50px auto;
    padding: 20px;
    overflow-y: scroll;
}

.content .airdrop h3,
.counter{
    color:white;
    text-align: center;
}

.content .airdrop h1{
    color:rgb(250, 225, 148);
}

#timeleft{
    color:rgb(250, 225, 148);
}

.content .claim{
    text-align: center;
}

.claim-btn{
    padding: 20px 40px;
    background-color:rgb(250, 225, 148);
    color: rgb(14, 14, 63);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.claim-btn:hover{    
    font-size: 20.5px;
    transition: all 0.6s ease;
}

.counter{
    font-size: 44px;
}

@media screen and (max-width:800px){
    .content{
        height: initial;
        min-height: 85vh;
    }

    .content .airdrop{
        margin: 0px auto;
        padding: 20px;
        padding-bottom: 20px;
    }

    .content h3{
        color:white;
        text-align: center;
    }

    .counter{
        font-size: 30px;
    }

    .content .airdrop h1{
        color:rgb(250, 225, 148);
        text-align: center;
        font-size: 25px;
    }

    .content .airdrop{
        overflow-y: initial;
    }

    .dateMOB{
        font-size: 22px !important;
    }

}